<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Coleção One Piece</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="./static/icon.png">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: vh;
      margin: 0;
    }
    .edit {
      text-align: center;
    }
    .manga-item-edit {
      margin-bottom: 20px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn-group {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <section class="edit">
    <h1>Alterando o volume {{edition[0]}}</h1>
    <div class="manga-item-edit">
      <img src="/static/Volume_{{edition[0]}}.webp" alt="Volume 1">
    </div>
    <form method="post">
      <label class="container">
        <input type="checkbox" name="is_owned" {% if edition[1] %}checked{% endif %}>Na cole&ccedil;&atilde;o?
        <span class="checkmark"></span>
        <div class="btn-group"><button type="submit">Salvar</button></div>
      </label>
    </form>
  </section>
</body>
</html>
